{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
    {{ super() }}

    <p>This is a minimal web app developed by <a href="https://linkedin.com/in/norahul1020">Hemant Sahu</a> for spinnaker deployment.</p>
    <p>The main purpose is to introduce Python web devlopment for demo perpose to deploy it using spinnaker for iSchoolConnect's <b>Capstone Project.</b> leter on we will commit the change to see the reflection usinge spinneker continous deployment</p>

    <p>For more basic knowledge of Flask, you can refer to <a href="https://www.tutorialspoint.com/flask/">a tutorial on Tutorialspoint</a>.</p>
{% endblock %}
